# last update here : https://devcenter.heroku.com/articles/direct-to-s3-image-uploads-in-rails
jQuery ->

	jqXHR = null
	# $('#upload-button').on 'click', (e) ->
	$('.directUpload').find("input:file").each (i, elem) ->

		fileInput    = $(elem)
		form         = $(fileInput.parents('form:first'))
		submitButton = form.find('input[type="submit"]')
		progressBar  = $("<div class='bar'></div>")
		barContainer = $("<div class='progress'></div>").append(progressBar)
		fileInput.after(barContainer)

		fileInput.fileupload({
			#$('form#add').serializeArray()
			formData:        form.data('form-data'),
			fileInput:       fileInput,
			url:             form.data('url')
			type:            'POST',
			autoUpload:       true,
			paramName:        'file', # S3 does not like nested name fields i.e. name="user[avatar_url]"
			dataType:         'XML',  # S3 returns XML if success_action_status is set to 201
			replaceFileInput: false,
			acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
			# maxFileSize: 999000,
            # acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i

			progressall: (e, data) ->

				progress = parseInt(data.loaded / data.total * 100, 10);
				progressBar.css('width', progress + '%')
			,
			start: (e, data) ->

				console.log("staaart")

				submitButton.prop('disabled', true)

				progressBar.
				  css('background', 'green').
				  css('display', 'block').
				  css('width', '0%').
					  text("Loading...")
			,
			done: (e, data) ->
				console.log("done")
				submitButton.prop('disabled', false)
				progressBar.text("Uploading done")
			,
			fail: (e, data) ->
				submitButton.prop('disabled', false)

				progressBar.
				  css("background", "red").
				  text("Failed")

		})
